{{ define "nav_bar" }}
<header class="p-3 bg-primary text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/schemas/index" class="nav-link px-2 text-white">Esquemas generacionales</a></li>
                <li><a href="/people/index" class="nav-link px-2 text-white">Personas</a></li>
                <li>
                    <a href="#" class="nav-link dropdown-toggle text-white" id="peopleDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Eventos</a>
                    <ul class="dropdown-menu" aria-labelledby="peopleDropdown">
                        <li><a class="dropdown-item" href="/events/index">Eventos</a></li>
                        <li><a class="dropdown-item" href="/event_types/index">Tipos de eventos</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="nav-link dropdown-toggle text-white" id="placesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Lugares</a>
                    <ul class="dropdown-menu" aria-labelledby="placesDropdown">
                        <li><a class="dropdown-item" href="/events/index">Lugares</a></li>
                        <li><a class="dropdown-item" href="/event_types/index">Tipos de lugares</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="nav-link dropdown-toggle text-white" id="groupsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Grupos</a>
                    <ul class="dropdown-menu" aria-labelledby="groupsDropdown">
                        <li><a class="dropdown-item" href="/groups/index">Grupos</a></li>
                        <li><a class="dropdown-item" href="/group_types/index">Tipos de grupos</a></li>
                    </ul>
                </li>
                {{ if (eq .Ct.UserRole "admin") }}
                <li><a href="/users/index" class="nav-link px-2 text-white">Usuarios</a></li>
                {{ end }}
            </ul>

            <form class="d-flex" action="/cards/search" method="post">
                <input id="search_term" name="search_term" class="form-control me-2" placeholder="Título, autor o etiqueta" aria-label="Buscar">
                <button class="btn btn-success" type="submit">Buscar</button>
                <a class="brn btn-outline-info btn-lg" style="margin-left: 0.5em;" role="button" href="/logout">Salir</a>
            </form>
        </div>
    </div>
</header>
{{ end }}
