{{ define "error_page" }}
{{template "html_head" .}}
<body>
<div class="main-title-frame">
  <div class="main-title">{{.Ct.Title}}</div>
  <div class="park-name">{{.Ct.ParkName}}</div>
</div>
<div class="container">
  <div class="general-error">
    ¡Oops! El programa ha recibido un error inesperado.
    {{ if ( ne .GeneralError.Code nil ) }}
    <div>Código http: {{ .GeneralError.Code }}</div>
    {{ end }}
    <div>Mientras realizaba: {{ .GeneralError.PerformingWhat }}</div>
    <div>Error encapsulado: {{ .GeneralError.OriginalError }}</div>
  </div>
  <div style="text-align: center;">
    <a class="btn btn-primary" href="/" role="button">Inicio</a>
  </div>
</div>
{{template "footer" .}}
</body>
{{ end }}
