{{ define "generations" }}
{{template "top_frame" .}}

<div class="card text-dark border-dark bg-light mb-3 school-card">
  <div class="card-header bg-primary text-white">
    <b>{{.Ct.PageTitle}}, Fichas seleccionadas: {{ .Generations.RecordCount }}</b>
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Rango</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      {{range .Generations.Generations}}
      <tr>
        <td><a href="/schemas/{{.SchemaID}}/generations/{{.ID}}">{{ .Name }}</a></td>
        <td>{{ .Type.Archetype }}</td>
        <td>{{ .Span }}</td>
        <td><a href="/generations/{{.ID}}/delete" class="btn btn-danger btn-sm" role="button">Eliminar</a></td>
      </tr>
      {{end}}
      </tbody>
    </table>
    {{ .Pagination.HTML .Pagination.CurrentPage }}
    <div class="card-footer bg-transparent border-success">
      <a class="btn btn-danger" href="/schemas/{{.SchemaID}}/generations/new" role="button">Nueva Generación</a>
      <a class="btn btn-primary" href="/schemas/{{.SchemaID}}" role="button">Volver al Estudio</a>
    </div>
  </div>
</div>
</div>

{{template "bottom_frame" .}}

{{ end }}
