{{ define "generation" }}
{{ template "top_frame" . }}


<div class="row">
  <div class="col-2">
    <div class="bd-toc mt-4 mb-5 my-md-0 mb-lg-5">
      <nav id="TableOfContents" class="section-toc">
        <ul>
          <li class="bg-primary section-marker"><a href="#description">Descripción</a></li>
          <li class="bg-primary section-marker"><a href="#landscape">Paisaje</a></li>
          <li class="bg-primary section-marker"><a href="#positions">Posiciones</a></li>
          <li class="bg-primary section-marker"><a href="#cohorts">Coetáneos</a></li>
          <li class="bg-primary section-marker"><a href="#multimedia">Multimedia</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="col-10">
    <div id="description">
      <div class="card text-dark border-dark bg-light mb-3 school-card">
        <div class="card-header bg-primary text-white">
          <b>{{.Ct.PageTitle}}</b>
        </div>
        <div class="card-body">
          <p class="card-text">
            <b>Nombre</b>: {{ .Generation.Name }}
          </p>
          <p class="card-text">
            <b>Tipo</b>: {{ .Generation.Type.Archetype }}
          </p>
          <p class="card-text">
            <b>País</b>: {{ .Generation.Place.Name }}
          </p>
          <p class="card-text">
            <b>Descripción</b>: {{ .Generation.Description }}
          </p>
        </div>
        <div class="card-footer bg-transparent border-success">
          <a class="btn btn-danger" href="/schemas/{{ .SchemaID }}/generations/{{ .Generation.ID }}/edit" role="button">Editar Generación</a>
          <a class="btn btn-success" href="/schemas/{{ .SchemaID }}/generations" role="button">Generaciones</a>
        </div>
      </div>
    </div>

    <div id="landscape">
      <div class="card text-dark border-dark bg-light mb-3 school-card">
        <div class="card-header bg-primary text-white">
          <b>Paisaje de formación generacional</b>
        </div>
        <div class="card-body">
          {{ if (eq .HaveMoment true) }}
          <p class="card-text">
            <b>Momento de formación</b>: {{ .FormationMoment.Name }}
          </p>
          {{ end }}
          {{ if (eq .HaveCalculatedMoment true) }}
          <p class="card-text">
            <b>Momento de formación calculado</b>: {{ .CalculatedFormationMoment.Name }}
          </p>
          {{ end }}
          {{ if (eq .HaveLandscape true) }}
          <p class="card-text">
            <b>Descripción</b>: {{ .GenerationalLandscape.Description }}
          </p>
          {{ end }}
          <div class="card-footer bg-transparent border-success" style="margin-bottom: 1em;">
            {{ if (eq .HaveLandscape true) }}
            <a class="btn btn-danger" href="/schemas/{{ .SchemaID }}/generational-landscape/{{ .GenerationalLandscape.ID }}/edit" role="button">Editar paisaje generacional</a>
            {{ else }}
            <a class="btn btn-danger" href="/schemas/{{ .SchemaID }}/generational-landscape/{{ .Generation.ID }}/new" role="button">Nuevo paisaje generacional</a>
            {{ end }}
          </div>
          {{ if (eq .HaveLandscape true) }}
          <h5>Tangibles</h5>
          <table class="table">
            <thead>
            <tr>
              <th>Nombre</th>
              <th>Descripción</th>
              <th style="width: 6em;"></th>
            </tr>
            </thead>
            <tbody>
            {{ range .GenerationalLandscape.Tangibles }}
            <tr>
              <td>{{ .Name }}</td>
              <td>{{ .Description }}</td>
              <td>
                <a class="btn btn-warning btn-sm" href="/schemas/{{ $.SchemaID }}/generational-landscape/{{ $.GenerationalLandscape.ID }}/tangibles/{{ .ID }}/edit" role="button">E</a>
                <a class="btn btn-danger btn-sm" href="/schemas/{{ $.SchemaID }}/generations/{{ $.Generation.ID }}/edit" role="button">X</a>
              </td>
            </tr>
            {{ end }}
            </tbody>
          </table>
          <div class="card-footer bg-transparent border-success" style="margin-bottom: 1em;">
            <a class="btn btn-danger btn-sm" href="/schemas/{{ $.SchemaID }}/generational-landscape/{{ $.GenerationalLandscape.ID }}/tangibles/add" role="button">Nuevo Tangible</a>
          </div>
          <h5>Intangibles</h5>
          <table class="table">
            <thead>
            <tr>
              <th>Nombre</th>
              <th>Descripción</th>
              <th style="width: 6em;"></th>
            </tr>
            </thead>
            <tbody>
            {{ range .GenerationalLandscape.Intangibles }}
            <tr>
              <td>{{ .Name }}</td>
              <td>{{ .Description }}</td>
              <td>
                <a class="btn btn-warning btn-sm" href="/schemas/{{ $.SchemaID }}/generational-landscape/{{ $.GenerationalLandscape.ID }}/intangibles/{{ .ID }}/edit" role="button">E</a>
                <a class="btn btn-danger btn-sm" href="/schemas/{{ $.SchemaID }}/generations/{{ $.Generation.ID }}/edit" role="button">X</a>
              </td>
            </tr>
            {{ end }}
            </tbody>
          </table>
          <div class="card-footer bg-transparent border-success" style="margin-bottom: 1em;">
            <a class="btn btn-danger btn-sm" href="/schemas/{{ $.SchemaID }}/generational-landscape/{{ $.GenerationalLandscape.ID }}/intangibles/add" role="button">Nuevo Intangible</a>
          </div>
          {{ end }}
        </div>
      </div>
    </div>

    <div id="positions">
      <div class="card text-dark border-dark bg-light mb-3 school-card">
        <div class="card-header bg-primary text-white">
          <b>Posiciones generacionales</b>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
            <tr>
              <th>Etapa de vida</th>
              <th>Nombre</th>
              <th>Momento histórico</th>
              <th style="width: 6em;"></th>
            </tr>
            </thead>
            <tbody>
            {{ if (eq .HavePositions true) }}
            {{ range .Positions }}
            <tr>
              <td>{{ .Position.LifePhase.Name }}</td>
              <td>{{ .Position.Name }}</td>
              <td>{{ .HistoricalMoment.Name }}</td>
              <td>
                <a class="btn btn-warning btn-sm" href="/schemas/{{ $.SchemaID }}/generations/{{ $.Generation.ID }}/generation-positions/{{ .Position.ID }}/edit" role="button">E</a>
                <a class="btn btn-danger btn-sm" href="/schemas/{{ $.SchemaID }}/generations/{{ $.Generation.ID }}/edit" role="button">X</a>
              </td>
            </tr>
            {{ end }}
            {{ end }}
            </tbody>
          </table>
          <div class="card-footer bg-transparent border-success">
            <a class="btn btn-danger" href="/schemas/{{ .SchemaID }}/generations/{{ .Generation.ID }}/generation-positions/new" role="button">Nueva posición generacional</a>
          </div>
        </div>
      </div>
    </div>

    <div id="cohorts">
      <div class="card text-dark border-dark bg-light mb-3 school-card">
        <div class="card-header bg-primary text-white">
          <b>Personas de la generación</b>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
            <tr>
              <th>Nombres</th>
              <th>Alias</th>
              <th>Conocido como</th>
              <th>Años de vida</th>
            </tr>
            </thead>
            <tbody>
            {{ range .Cohort }}
            <tr>
              <td>{{ .Names }}</td>
              <td>{{ .AliasHTML }}</td>
              <td>{{ .KnownAsHTML }}</td>
              <td>{{ .Lifespan }}</td>
            </tr>
            {{ end }}
            </tbody>
          </table>
          <div class="card-footer bg-transparent border-success">
          </div>
        </div>
      </div>
    </div>

    <div id="multimedia">
      <div class="card text-dark border-dark bg-light mb-3 school-card">
        <div class="card-header bg-primary text-white">
          <b>Documentos multimedia</b>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
            <tr>
              <th>Nombre</th>
              <th>Tipo</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
          <div class="card-footer bg-transparent border-success">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






{{ template "bottom_frame" . }}

{{ end }}
