{{ define "group" }}
{{ template "top_frame" . }}

<div class="card text-dark border-dark bg-light mb-3 school-card">
  <div class="card-header bg-primary text-white">
    <b>{{.Ct.PageTitle}}</b>
  </div>
  <div class="card-body">
    <p class="card-text">
      <b>Nombre</b>: {{ .Group.Name }}
    </p>
    <p class="card-text">
      <b>Tipo</b>: {{ .Group.GroupType.Name }}
    </p>
    <p class="card-text">
      <b>Pertenece a</b>: {{ .Group.ParentGroupID }}
    </p>
    <p class="card-text">
      <b>Fecha de inicio</b>: {{ .Group.Start }}
    </p>
    <p class="card-text">
      <b>Fecha de término</b>: {{ .Group.End }}
    </p>
    <p class="card-text">
      <b>Resumen</b>: {{ .Group.Summary }}
    </p>
    <p class="card-text">
      <b>Descripción</b>: {{ .Group.Description }}
    </p>
  </div>
  <div class="card-footer bg-transparent border-success">
    <a class="btn btn-danger" href="/groups/{{ .Group.ID }}/edit" role="button">Editar Grupo</a>
    <a class="btn btn-success" href="/groups/index" role="button">Grupos</a>
  </div>
</div>

{{ template "bottom_frame" . }}

{{ end }}
