{{ define "group_type_form" }}
{{template "form_top_frame" .}}

<div class="card text-dark border-dark bg-light mb-3 school-card">
  <div class="card-header bg-primary text-white">
    <b>{{.Ft.Ct.PageTitle}}</b>
  </div>
  <div class="card-body">
    <form action="{{.Ft.URL}}" method="post">
      {{ .GroupType.IDInput (index .Ft.FormErrorMessages "ID") (index .Ft.FormValues "ID") }}

      <div class="row mb-3">
        {{ .GroupType.NameLabel }}
        <div class="col-sm-10">
          {{ .GroupType.NameInput (index .Ft.FormErrorMessages "Name") (index .Ft.FormValues "Name") }}
        </div>
      </div>

      <div class="row mb-3">
        {{ .GroupType.DescriptionLabel }}
        <div class="col-sm-10">
          {{ .GroupType.DescriptionInput (index .Ft.FormErrorMessages "Description") (index .Ft.FormValues "Description") }}
        </div>
      </div>

      <div class="card-footer bg-transparent border-success">
        <button type="submit" class="btn btn-primary">{{ .Ft.SubmitLabel }}</button>
        <a href="/group-types/{{ .GroupType.ID }}" class="btn btn-success" role="button ">Volver</a>
      </div>
    </form>
  </div>
</div>

{{template "bottom_frame" .}}

{{ end }}
