{{ define "place_types" }}
{{template "top_frame" .}}

<div class="card text-dark border-dark bg-light mb-3 school-card">
    <div class="card-header bg-primary text-white">
        <b>{{.Ct.PageTitle}}, Fichas seleccionadas: {{ .PlaceTypes.RecordCount }}</b>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
            <tr>
                <th>Nombre</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {{range .PlaceTypes.PlaceTypes}}
            <tr>
                <td><a href="/place-types/{{.ID}}">{{ .Name }}</a></td>
                <td><a href="/events/{{.ID}}/delete" class="btn btn-danger btn-sm" role="button">Eliminar</a></td>
            </tr>
            {{end}}
            </tbody>
        </table>
        {{ .Pagination.HTML .Pagination.CurrentPage }}
        <div class="card-footer bg-transparent border-success">
            <a class="btn btn-danger" href="/place-types/new" role="button">Nuevo tipo de lugar</a>
        </div>
    </div>
</div>
</div>

{{template "bottom_frame" .}}

{{ end }}
