{{ define "schema" }}
{{ template "top_frame" . }}

<div class="row">
    <div class="col-2">
        <div class="bd-toc mt-4 mb-5 my-md-0 mb-lg-5">
            <nav id="TableOfContents" class="section-toc">
                <ul>
                    <li class="bg-primary section-marker"><a href="#description">Descripción</a></li>
                    <li class="bg-primary section-marker"><a href="#generation-types">Tipos de generación</a></li>
                    <li class="bg-primary section-marker"><a href="#life-phases">Etapas de vida</a></li>
                    <li class="bg-primary section-marker"><a href="#moment-types">Tipos de momento</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="col-10">
        <div id="description">
            <div class="card text-dark border-dark bg-light mb-3 school-card">
                <div class="card-header bg-primary text-white">
                    <b>{{.Ct.PageTitle}}</b>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <b>Nombre</b>: {{ .GenerationSchema.Name }}
                    </p>
                    <p class="card-text">
                        <b>Rango generacional</b>: {{ .GenerationSchema.GenerationalSpan }}
                    </p>
                    <p class="card-text">
                        <b>Duración</b>: {{ .GenerationSchema.DurationSpan }}
                    </p>
                    <p class="card-text">
                        <b>Lugar</b>: {{ .GenerationSchema.Place.Name }}
                    </p>
                    <p class="card-text">
                        <b>Descripción</b>: {{ .GenerationSchema.Description }}
                    </p>
                </div>
                <div class="card-footer bg-transparent border-success">
                    <a class="btn btn-danger" href="/schemas/{{ .GenerationSchema.ID }}/edit" role="button">Editar Esquema</a>
                    {{ if (eq .AllowTemplateGeneration true) }}
                    <a class="btn btn-danger" href="/schemas/{{ .GenerationSchema.ID }}/generate-template" role="button">Generar plantilla</a>
                    {{ end }}
                    <a class="btn btn-success" href="/schemas/{{ .GenerationSchema.ID }}/generations" role="button">Generaciones</a>
                    <a class="btn btn-success" href="/schemas/{{ .GenerationSchema.ID }}/moments" role="button">Momentos</a>
                </div>
            </div>
        </div>

        <div id="generation-types">
            <div class="card text-dark border-dark bg-light mb-3 school-card">
                <div class="card-header bg-primary text-white">
                    <b>Tipos de generación</b>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Arquetipo</th>
                            <th>Descripción</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ range .GenerationTypes }}
                        <tr>
                            <td>{{ .Archetype }}</td>
                            <td>{{ .Description }}</td>
                            <td><a class="btn btn-danger btn-sm" href="/schemas/{{ .SchemaID }}/generation-types/{{ .ID }}/edit" role="button">Editar</a></td>
                        </tr>
                        {{ end }}
                        </tbody>
                    </table>
                    <div class="middle-card-button-row">
                        <a class="btn btn-danger" href="/schemas/{{ .GenerationSchema.ID }}/generation-types/new" role="button">Nuevo tipo de generación</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="life-phases">
            <div class="card text-dark border-dark bg-light mb-3 school-card">
                <div class="card-header bg-primary text-white">
                    <b>Etapas de vida</b>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Etapa</th>
                            <th style="text-align: right;">Años</th>
                            <th>Rol</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ range .LifePhases }}
                        <tr>
                            <td>{{ .Name }}</td>
                            <td style="text-align: right;">{{ .Span }}</td>
                            <td>{{ .Role }}</td>
                            <td><a class="btn btn-danger btn-sm" href="/schemas/{{ .SchemaID }}/life-phases/{{ .ID }}/edit" role="button">Editar</a></td>
                        </tr>
                        {{ end }}
                        </tbody>
                    </table>
                    <div class="middle-card-button-row">
                        <a class="btn btn-danger" href="/schemas/{{ .GenerationSchema.ID }}/life-phases/new" role="button">Nueva etapa de vida</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="moment-types">
            <div class="card text-dark border-dark bg-light mb-3 school-card">
                <div class="card-header bg-primary text-white">
                    <b>Tipos de momento</b>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {{range .MomentTypes}}
                        <tr>
                            <td>{{ .Name }}</td>
                            <td>{{ .Description }}</td>
                            <td><a class="btn btn-danger btn-sm" href="/schemas/{{ .SchemaID }}/moment-types/{{ .ID }}/edit" role="button">Editar</a></td>
                        </tr>
                        {{ end }}
                        </tbody>
                    </table>
                    <div class="middle-card-button-row">
                        <a class="btn btn-danger" href="/schemas/{{ .GenerationSchema.ID }}/moment-types/new" role="button">Nuevo tipo de momento</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{{ template "bottom_frame" . }}

{{ end }}
