{{ define "schema" }}
{{ template "top_frame" . }}

<div class="card text-dark border-dark bg-light mb-3 school-card">
    <div class="card-header">
        <b>{{.Ct.PageTitle}}</b>
    </div>
    <div class="card-body">
        <p class="card-text">
            <b>Nombre</b>: {{ .GenerationSchema.Name }}
        </p>
        <p class="card-text">
            <b>Rango</b>: {{ .GenerationSchema.Span }}
        </p>
        <p class="card-text">
            <b>Descripción</b>: {{ .GenerationSchema.Description }}
        </p>
        <h6 class="card-subtitle mb-2 text-muted">Tipos de generación</h6>
        <table class="table">
            <thead>
            <tr>
                <th>Arquetipo</th>
                <th>Descripción</th>
            </tr>
            </thead>
            <tbody>
            {{ range .GenerationTypes }}
            <tr>
                <td><a href="/generation-types/{{ .ID }}">{{ .Archetype }}</a></td>
                <td>{{ .Description }}</td>
            </tr>
            {{ end }}
            </tbody>
        </table>
        <div class="middle-card-button-row">
            <a class="btn btn-danger btn-sm" href="/schemas/edit/{{ .GenerationSchema.ID }}" role="button">Nuevo tipo de generación</a>
        </div>

        <h6 class="card-subtitle mb-2 text-muted">Etapas de vida</h6>
        <table class="table">
            <thead>
            <tr>
                <th>Etapa</th>
                <th>Años</th>
                <th>Rol</th>
            </tr>
            </thead>
            <tbody>
            {{ range .LifePhases }}
            <tr>
                <td><a href="/life-phases/{{ .ID }}">{{ .Name }}</a></td>
                <td>{{ .StartYear }}--{{ .EndYear }}</td>
                <td>{{ .Role }}</td>
            </tr>
            {{ end }}
            </tbody>
        </table>
        <div class="middle-card-button-row">
            <a class="btn btn-danger btn-sm" href="/schemas/edit/{{ .GenerationSchema.ID }}" role="button">Nuevo tipo de etapa de vida</a>
        </div>

        <h6 class="card-subtitle mb-2 text-muted">Tipos de momento</h6>
        <table class="table">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
            </tr>
            </thead>
            <tbody>
            {{range .MomentTypes}}
            <tr>
                <td><a href="/moment-types/{{ .ID }}">{{ .Name }}</a></td>
                <td>{{ .Description }}</td>
            </tr>
            {{ end }}
            </tbody>
        </table>
        <div class="middle-card-button-row">
            <a class="btn btn-danger btn-sm" href="/schemas/edit/{{ .GenerationSchema.ID }}" role="button">Nuevo tipo de momento</a>
        </div>
    </div>
    <div class="card-footer bg-transparent border-success">
        <a class="btn btn-danger" href="/schemas/edit/{{ .GenerationSchema.ID }}" role="button">Editar Esquema</a>
        <a class="btn btn-success" href="/schemas/{{ .GenerationSchema.ID }}/generations" role="button">Generaciones</a>
        <a class="btn btn-success" href="/schemas/{{ .GenerationSchema.ID }}/moments" role="button">Momentos</a>
    </div>
</div>
</div>
{{ template "bottom_frame" . }}

{{ end }}
